#!/bin/bash

# Reload if any of these files change
watch_file nix/* .envrc.local

# Build a folder that contains all the tools
nix-build ./nix -A env --out-link ./env

# Load the devshell
source ./env/env.bash

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local
