##############################
## Direnv
##############################
/.direnv
/.envrc.local
/env

##############################
## Nix
##############################
/result*

##############################
## Other
##############################
github-triggers.yml
.fp-git-blocks
